{% extends "templates/web.html" %}

{% block page_content %}

    
        
            Submit Sealed Supplier Quotation
        
        
            
                
                    RFQ Reference
                    
                
                
                    Company / Supplier Name *
                    
                
                
                    Contact Email *
                    
                
                
                    
                        Total Quoted Price ($) *
                        
                    
                    
                        Delivery Time (Days) *
                        
                    
                
                
                    Remarks / Payment Terms
                    
                
                Submit Quotation
            
        
    



{% endblock %}